<div class="row file m-2">
    <div class="col-2 p-0">
        <img src="../../assets/file.png">
    </div>
    <div class="col-8 p-0" *ngIf="(snapshot | async) as snap">
        <p class="m-2">{{file.name}}</p>
        <progress *ngIf="percentage | async as pct" class="progress is-info m-0" [value]="pct" max="100">
        </progress>
        <p>{{bytesToSize(snap.totalBytes)}}</p>
    </div>

    <div class="col-1 m-auto" *ngIf="(snapshot | async) as snap">
        <mat-icon id="close" (click)="task.cancel()" *ngIf="snap.state!='success'; else isSuccess">
            delete_forever
        </mat-icon>
        <mat-icon id="success" #isSuccess>
            check_circle_outline
        </mat-icon>
    </div>
</div>