<div>
    <h3>AngularFire </h3>
    <div class="file">
        <label class="file-label">
            <input class="file-input" type="file" multiple="multiple" (change)="uploadImage($event.target)">
            <span class="file-cta">
                <span class="file-icon">
                    <i class="fa fa-upload"></i>
                </span>
                <span class="file-label">
                    Choose a files
                </span>
            </span>
        </label>
    </div>
</div>

<div class="panel panel-default" *ngIf="files.length&&!isClose">
    <div class="panel-heading">
        upload {{files.length}} items
        <mat-icon (click)="close()"> close </mat-icon>
        <mat-icon (click)="expandLess=!expandLess">{{expandLess?'expand_less':'expand_more'}}</mat-icon>
    </div>
    <div class="panel-body" [ngClass]="{'display-none':expandLess,'display-block':!expandLess}">
        <ng-container *ngFor="let file of files">
            <app-upload-task [isCloseAll]="isClose" [file]="file"></app-upload-task>
        </ng-container>
    </div>
</div>
